





/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
p{
  font-family: 'Libre Baskerville', serif;
  font-size: 1.1rem;
  line-height: 1.8;
}
/* DAVID STYLES */
.tagline{
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px #000;
}
.tagline span{
  color: #c3d4e5;
}


.header-wrap{
  background-image: url('./assets/bg-header-wrap-home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  width: 100%;

}
.header-page{
  width:1260px;
  /* display:flex; */
  /* justify-content: center; */
}

.logo-nav-container{
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
  
}


.head-nav{
  display:flex;
  align-items: center;
}
.head-nav ul{
  display: flex;
  list-style-type: none;
  
    
}
.head-nav li{
  padding-left:20px;
  padding-right:20px;
}
.head-nav ul a{
  text-decoration: none;
  color:#fff;
}

.head-call{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color:white;
}
.call-num{
  font-size: 33px;
  color: orange;
}

/* BODY TEXT STYLES */

.interchanging-body{
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.body-wrapper{
  width:1260px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.section-one-wrapper{
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  justify-content: center;

}

.section-one-peel{
  display:flex;
  justify-content: center;
  flex-direction: column;
  width:1260px;
}
.section-one-container{
  display:flex;
  justify-content: space-between;
  
}
.section-two-wrapper{
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  justify-content: center;
  background-color: #002450;
}
.section-two-peel{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:1260px;
}
.section-two-topping-1{
  width:65%;
}
.section-two-topping-2{
  background-image: url('./assets/bg-second-image.jpg');
  width:765px;
}
.section-two-wrapper h3{
  color:#faa62d;
  font-size: 36px;
}
.section-two-wrapper h4{
  color:white;
  font-size: 36px;
}
.section-two-wrapper p{
  color:white;
}


/* .image-box{
  background-image: url('./assets/bg-second-image.jpg');
  width: 100%;
} */
.para0{
width:90%;
}
.para1{
  width:90%;
}


.section-two-content{
  display:flex;
}
.section-three-wrapper{
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  justify-content: center;

}
.section-three-peel{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:1260px;
}

.first-par{
  width: 612px;
}
.second-par{
  width:612px;
}

.section-three-wrapper{
  text-align: center;
}


.section-three-wrapper h3{
  color:#01254e;
  font-size: 36px;
  
}


/* FORM STYLES */

.form-wrapper{
  background-image: url('./assets/bg-shortform.jpg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom:40px;
}
.form-wrapper h4{
  color:white;
  font-size: 36px;
}
.form-wrapper p{
  color:white;
  /* font-size: 36px; */
}
.form-peel{
  width:1260px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input-container{
  display:flex;
  flex-direction: column;
}

.req-form{
  display:flex;
  flex-direction: column;
}

.req-form-half-one{
  display:flex;
  width:100%;
  justify-content: space-between;
}
.req-form input{
padding:10px;
font-family: 'Libre Baskerville', serif;
  /* font-size: 1.1rem; */
  /* line-height: 1.8; */
margin:5px;
}
.req-form textarea{
  margin-top: 5px;
  height:134px;
  width:48.5%;
  text-indent: 5px;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.1rem;
  line-height: 1.8;
  
  
  
}
.inputs-req{
  display:flex;
  flex-direction: column;
  width:48.5%;
}
.req-form-half-two button{
  background-color: #faa62d;
  color: #fff;
  width: 210px;
  height: 56px;
  font-size: 1.3rem;
  float:right;

}

.req-form-half-two button:hover{
  background-color: white;
  color:navy;
  cursor: pointer;
  border-style: inset;
}



/* FOOTER */

.contact-info-map{
  background-image: url('./assets/bg-map.jpg');
  width:100%;
  height:485px;
  display: flex;
  justify-content: center;
}
.address-box{
  margin:80px;
  width:80%;
  
  color:#fff;
  font-size: 1.5rem;
}
.address{
  float:left;
  background-color: #002450;
  width:40%;
  text-align: center;
  padding-bottom:20px;
}
.address p{
  margin-bottom: 2px;
  margin-top:2px;
  font-size: 1.2rem;
}



.call-today{
  background-color: #002450;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
.call-today h3{
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
  
}

.call-today h2{
  color:#faa62d;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
  
}
.copyright{
  padding-top: 40px;
  text-align: center;
  font-size: .7rem;
}




/* MEDIA STYLES BELOW */

@media (max-width:1260px){
  .brand-logo{
    display:flex;
    justify-content: center;
  }
  .brand-logo img{
    width: 40vw;
  }
.logo-nav-container{
  flex-direction: column;
}

.tagline h1{
  font-size: 120%;
}



.interchanging-body{
  width:100%;
}


.section-one-title{
  width:100%;
}
.section-one-wrapper{
  width:100%;
  
}
.section-one-peel{
  width:90%;
  justify-content: center;
}
  .section-one-container{
    flex-direction: column;
    
    
  }
  
.content{
  display: flex;
  justify-content: center;
}
.first-par{
  display:flex;
  justify-content: center;
  width:100%;
}
.second-par{
  display:flex;
  justify-content: center;
  width:100%;
}

.section-two-wrapper{
  width:100%;
}
.section-two-peel{
  width:90%;
}
.section-two-topping-1{
  width:100%;
}
  .section-two-topping-2{
    display:none;
  }

  .section-two-content{
    flex-direction: column;
  }

  .section-three-wrapper{
    width: 100%;
  }
.section-three-peel{
  width:90%;
}

.form-wrapper{
  width: 100%;
}
.form-peel{
  width:90%;
}

.contact-info-map{
  width:100%;
 background-position-x: -900px;
}
.address-box{
  margin-top: 0px;
  width:90%;
}
.address{
  width:100%;
  padding:0;
}
}


@media (max-width:560px){
  .brand-logo{
    display:flex;
    justify-content: center;
  }
  .brand-logo img{
    width: 80%;
  }
.logo-nav-container{
  flex-direction: column;
}

.tagline h1{
  font-size: 80%;
}



.interchanging-body{
  width:100%;
}


.section-one-title{
  width:100%;
}
.section-one-wrapper{
  width:100%;
}
.section-one-peel{
  width:90%;
  justify-content: center;
}
  .section-one-container{
    flex-direction: column;
    
  }
  
.content{
  display: flex;
  justify-content: center;
}
.first-par{
  display:flex;
  justify-content: center;
  width:90%;
}
.second-par{
  display:flex;
  justify-content: center;
  width:90%;
}

.section-two-wrapper{
  width:100%;
}
.section-two-peel{
  width:90%;
}
.section-two-topping-1{
  width:100%;
}
  .section-two-topping-2{
    display:none;
  }

  .section-two-content{
    flex-direction: column;
  }

  .section-three-wrapper{
    width: 100%;
  }
.section-three-peel{
  width:90%;
}

.form-wrapper{
  width: 100%;
}
.form-peel{
  width:90%;
}

.contact-info-map{
  width:100%;
 background-position-x: -900px;
}
.address-box{
  margin-top: 0px;
  width:90%;
}
.address{
  width:100%;
  padding:0;
}

}